{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container box">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="contact-title">Employee Registration Form</h2>
        </div>
        <div class="col-lg-8">
            <form class="form-contact contact_form" action="employeeReg" method="post" id="contactForm"
                novalidate="novalidate" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control valid" name="name" id="cname" type="text"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Company name'"
                                placeholder="Enter Company name">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" name="cemail" id="cemail" type="email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address'"
                                placeholder="Enter Email Address">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="input-group mb-3">

                            <select class="custom-select" id="inputGroupSelect01" name='ctype'>
                                <option selected>Type ...</option>
                                <option value="Networking">Networking</option>
                                <option value="Testing">Testing</option>
                                <option value="Software Development">Software Development </option>
                                <option value="Marketing">Marketing </option>
                                <option value="Finanace">Finanace </option>
                                <option value="Consulting & Careers ">Consulting & Careers </option>
                                <option value="Mobile Development">Mobile Development </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control w-100" name="caddress" id="caddress" cols="30" rows="9"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Address'"
                                placeholder=" Enter Address"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="ccity" type="text" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'City'" placeholder="City">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="state" type="text" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'State'" placeholder="State">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="country" type="text" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Country'" placeholder="Country">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="pincode" type="text" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Pincode'" placeholder="Pincode">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control valid" name="phone" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Phone Number'" placeholder="Phone Number"
                                pattern="[7-9]{1}[0-9]{9}" title="Phone number with 7-9 and remaing 9
                                  digit with 0-9">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">https://</span>
                            </div>
                            <input type="url" class="form-control" name="curl" id="basic-url"
                                aria-describedby="basic-addon3">
                        </div>
                    </div>



                </div>

        </div>
        <div class="col-lg-4">
            <div class="col-12">
                <img src="..." alt="..." class="img-thumbnail">
            </div>
            <div class="col-12">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </div>

        <div class="col-12 text-center">
            <button type="submit" class="button button-contactForm boxed-btn">Register</button>
        </div>
        </form>
    </div>
</div>



{% endblock %}