{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container box">
    <div class="row">
        <div class="col-12">
            <h2 class="contact-title">User Registration Form</h2>
        </div>
        <div class="col-lg-8">
            <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm"
                novalidate="novalidate">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="name" id="fname" type="text"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter First name'"
                                placeholder="Enter First name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="lname" id="email" type="text"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter last Name'"
                                placeholder="Enter last Name">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" name="subject" id="email" type="email"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email Address'"
                                placeholder="Enter Email Address">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Enter Password" name="psw"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"
                                placeholder="Password">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <textarea class="form-control w-100" name="Address" id="message" cols="30" rows="4"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Address'"
                                placeholder="Address"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="name" type="text" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'City'" placeholder="City">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="lname" type="text" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'State'" placeholder="State">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="name" type="text" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Country'" placeholder="Country">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control valid" name="lname" type="text" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Pincode'" placeholder="Pincode">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <input class="form-control valid" name="Phone Number" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Phone Number'" placeholder="Phone Number"
                                pattern="[7-9]{1}[0-9]{9}" title="Phone number with 7-9 and remaing 9
                                  digit with 0-9">
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="validatedCustomFile"
                                onfocus="this.placeholder = ''" onblur="this.placeholder = 'Resume Upload'"
                                placeholder="Resume Upload...">
                            <label class="custom-file-label" for="validatedCustomFile">Resume Upload...</label>
                            <div class="invalid-feedback">Example invalid custom file feedback</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4">
            <div class="col-12">
                <img src="..." alt="..." class="img-thumbnail">
            </div>
            <div class="col-12">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                </div>
            </div>
        </div>

        <div class="row ml-3">
            <button type="submit" class="button button-contactForm boxed-btn">Send</button>
        </div>

    </div>
</div>



{% endblock %}